APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_IP=127.0.0.1
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
JWT_SECRET=
JWT_TTL=1440
JWT_REFRESH_TTL=4320

API_DEBUG=true
API_PREFIX=api
API_VERSION=v1
API_SUBTYPE=
API_STANDARD_TREE=prs

WECHAT_MINI_PROGRAM_APPID=
WECHAT_MINI_PROGRAM_SECRET=

WECHAT_PAYMENT_APPID=
WECHAT_PAYMENT_MCH_ID=
